In [2]:
import pandas as pd
import json
import os
import warnings
warnings.filterwarnings('ignore')

# Resto

In [3]:
datas = {
    'resto':[],
    'culinary':[],
    'address':[],
    'phone':[],
    'keyword':[],
    'url':[],
}
filesName = os.listdir('OUTPUT/resto/')
for fil in filesName:
    try:
        with open(f'OUTPUT/resto/{fil}') as f:
            data = json.load(f)
        for rec in data:
            for key in rec.keys():
                datas[key].append(rec[key])
    except:
        pass

In [4]:
df = pd.DataFrame(datas)
df.sample(3)

,resto,culinary,address,phone,keyword,url
10651,Imperial Lamian,[Restaurant],"Artha Gading Mall, 1st FlJl. Artha Gading Sela...",(021) 4586 - 4350,"[Chinese, Dim Sum, Noodle & Soup]",https://www.loveindonesia.com/directory/en/jak...
653536,Solaria,[Restoran],"Emporium Pluit Mall, 4th Fl Unit 36 - 37Jl. Pl...",(021) 14 - 099,"[Asian, Chinese, International]",https://www.loveindonesia.com/directory/en/jak...
401857,Dailybox Pondok Indah,[Restaurant],"Jl. Sultan Iskandar Muda No. 1B, Pondok Indah,...",None,[Asian],https://www.loveindonesia.com/directory/en/jak...

In [5]:
df.shape

(742927, 6)

In [6]:
df.duplicated(subset=['resto','address','phone','url']).sum()

730011

In [7]:
dfNoDup = df.drop_duplicates(subset=['resto','address','phone','url'],keep='first')

In [9]:
dfNoDup.shape

(12916, 6)

In [86]:
def get_prov(x):
    try :
        prov = x.split(',')[-2].strip()
        if prov == 'Indonesia':
            return x.split(',')[-3].strip()
        else:
            return x.split(',')[-2].strip()
    except :
        return None
    
def get_city(x):
    try :
        prov = x.split(',')[-3].strip()
        if prov == 'Jakarta':
            return x.split(',')[-4].strip()
        else:
            return x.split(',')[-3].strip()
    except :
        return None

In [96]:
dfNoDup['address'] = dfNoDup['full_address'].map(lambda x: x.split(',')[0])

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_17140\4144758328.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfNoDup['address'] = dfNoDup['full_address'].map(lambda x: x.split(',')[0])

In [111]:
dfNoDup.columns

Index(['resto', 'culinary', 'full_address', 'phone', 'keyword', 'url',
       'province', 'city', 'address'],
      dtype='object')

In [113]:
cols = ['resto', 'culinary', 'address','province', 'city', 'phone', 'keyword', 'url', 'full_address']

In [114]:
df_ok = dfNoDup[cols]

In [10]:
writer = pd.ExcelWriter('OUTPUT/resto/LoveIndonesia_resto(2).xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={"options": {"strings_to_urls": False}})
df.to_excel(writer)
writer.close()

# Non Resto

In [116]:
datas = {
    'resto':[],
    'culinary':[],
    'address':[],
    'phone':[],
    'keyword':[],
    'url':[],
}
filesName = os.listdir('OUTPUT/non_resto/')
for fil in filesName:
    try:
        with open(f'OUTPUT/non_resto/{fil}') as f:
            data = json.load(f)
        for rec in data:
            for key in rec.keys():
                datas[key].append(rec[key])
    except:
        pass

In [117]:
df_nonResto = pd.DataFrame(datas)

In [118]:
df_nonResto.shape

(35105, 6)

In [119]:
df_nonResto.duplicated(subset=['resto','address','phone','url']).sum()

32547

In [120]:
df_nonResto_NoDup = df_nonResto.drop_duplicates(subset=['resto','address','phone','url'],keep='first')

In [121]:
df_nonResto_NoDup.shape

(2558, 6)

In [122]:
df_nonResto_NoDup.sample(3)

,resto,culinary,address,phone,keyword,url
10407,Maju Jaya,[Spa & Beauty],"ITC Mangga Dua, 1st Fl Blok A Unit 81Jl. Mangg...",(021) 601 - 1043,[Body Care],https://www.loveindonesia.com/directory/en/jak...
20520,Nail Pia,[Spa & Beauty],"Emporium Pluit Mall, 1st Fl Unit 17Jl. Pluit S...",(021) 6667 - 6546,[Nail Treatment],https://www.loveindonesia.com/directory/en/jak...
1011,Alegro F KTV,[Bar & Club],Kelapa Gading A6 BJl. Boulevard Artha Gading N...,(021) 4587 - 3977,[Karaoke],https://www.loveindonesia.com/directory/en/jak...

In [123]:
df_nonResto_NoDup.rename(columns={'address':'full_address'},inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_17140\883821854.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nonResto_NoDup.rename(columns={'address':'full_address'},inplace=True)

In [124]:
df_nonResto_NoDup['province'] = df_nonResto_NoDup['full_address'].map(lambda x: get_prov(x))
df_nonResto_NoDup['city'] = df_nonResto_NoDup['full_address'].map(lambda x: get_city(x))

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_17140\4177123919.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nonResto_NoDup['province'] = df_nonResto_NoDup['full_address'].map(lambda x: get_prov(x))
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_17140\4177123919.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nonResto_NoDup['city'] = df_nonResto_NoDup['full_address'].map(lambda x: get_city(x))

In [140]:
df_nonResto_NoDup['address'] = df_nonResto_NoDup['full_address'].map(lambda x: x.split(',')[0])

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_17140\739920337.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nonResto_NoDup['address'] = df_nonResto_NoDup['full_address'].map(lambda x: x.split(',')[0])

In [141]:
df_nonResto_NoDup.sample(3)

,resto,culinary,full_address,phone,keyword,url,province,city,address
8755,Sabrina Salon,[Spa & Beauty],"Jl. Kali Baru Timur V No. 73, Bungur, SenenSen...",(021) 420 - 4777,[Beauty Salon],https://www.loveindonesia.com/directory/en/jak...,Jakarta,Jakarta Pusat,Jl. Kali Baru Timur V No. 73
7366,LaVita Bella Skin and Body Clinic,[Spa & Beauty],"MD Building, 1st FlJl. Setiabudi Selatan No. 7...",(021) 2966 - 9269,[Beauty Clinic],https://www.loveindonesia.com/directory/en/jak...,Jakarta,Jakarta Selatan,MD Building
8204,Adwis Collection,[Spa & Beauty],"ITC Fatmawati, G Fl Unit 144Jl. RS Fatmawati N...",(021) 739 - 7729,[Beauty Salon],https://www.loveindonesia.com/directory/en/jak...,Jakarta,Jakarta Selatan,ITC Fatmawati

In [142]:
df_ok2 = df_nonResto_NoDup[cols]

In [14]:
writer = pd.ExcelWriter('OUTPUT/non_resto/LoveIndonesia_nonResto(2).xlsx',
                        engine='xlsxwriter',
                        engine_kwargs={"options": {"strings_to_urls": False}})
df_ok2.to_excel(writer)
writer.close()